
.container {
    background-color:  rgba(212, 46, 41, 0.884);
    font-size: 40px;
    color: white;
    font-weight: 600;
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    text-align: center;
}

