ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li{
    display: grid;
    grid-template-columns: [completed] 1fr [content] 3fr [priority] 0.7fr [delete] 0.7fr [end];
    grid-auto-flow: column;
    height: inherit;
}
h1{
    text-align: center;
    margin-block-start: 20%;
    color: rgba(161, 161, 161, 0.603);
}

.container {
    background-color: rgba(224, 224, 224, 0.89);
    box-sizing: border-box;
    border-radius: 10px;
    padding:0;
    margin: 10px auto;
    position: relative;
    width: 95%;
    height: 70px
}  
.container:hover{
    background-color: rgba(201, 201, 201, 0.89) ;
}
.content{
    grid-column-start: content;
    box-sizing: border-box;
    height: inherit;
    overflow: auto;
    margin:inherit;
    word-wrap: break-word;
    width:inherit;
    font-size: 15px;
    
}
.content::-webkit-scrollbar{
    display: none;
}
.completed{
    text-decoration-line: line-through ;
    color: #888;
}

.complete-btn{
    grid-column: completed/content;
    border-style: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: transparent;
    color: rgb(44, 155, 44);
    box-sizing: border-box;
    width:65px;
    margin-right:4px
}

.complete-btn:hover{
    color:ivory;
    background-color: rgb(44, 155, 44) ;

}
.undo-btn{
    grid-column: completed/content ;
    border-style: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: transparent;
    color:  rgb(69, 71, 69);
    box-sizing: border-box;
    width:65px;
    margin-right:4px
}

.undo-btn:hover{
    color:ivory;
    background-color: rgb(69, 71, 69) ;
}
.del-btn{
    grid-column: delete/end ;
    justify-self: center;
    width:30px;
    height:30px;
    opacity: 0.3;
    margin:20px 0 auto
}
.del-btn:hover{
    opacity:0.6;
    width: 35px;
    height: 35px;
}
.priority{
    grid-column-start: priority/delete;
    margin:24px 0 auto;
    text-align: center;
    font-size: 15px;
}
.high{
    color: red;
    
}
.medium {
    color: orange;
}
.low{
    color:rgb(57, 218, 57);
}

@media screen and (orientation: landscape) {
    li{
        grid-template-columns: [completed] 0.5fr [content] 4fr [priority] 0.5fr [delete] 0.5fr [end];
        
    }  
}

@media screen and (min-width: 400px ){
    li{
        grid-template-columns: [completed] 0.5fr [content] 3.5fr [priority] 0.5fr [delete] 0.5fr [end];
        
    }  
}
@media screen and (min-width: 1000px ){
    li{
        grid-template-columns: [completed] 0.5fr [content] 6fr [priority] 0.5fr [delete] 0.5fr [end];
        
    }  
}
